body {
    margin: 0;
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(28, 241, 28);
    transform: scaleX(0);
    transform-origin: bottom left;

    transition: transform 0.3s;
}

.link:hover::after {
    transform: scaleX(1);
}

.link:hover {
    color: #ff0;
	text-shadow: 0 0 10px #ff0;
}

.link {
    position: relative;
}

.hero-links {
    padding-right: 24px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(226, 226, 44);
}

.hero-top {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.logo-text {
    color: white;
    font-size: 48px;
    filter: brightness(150%);
}

.logo {
    display: flex;
    align-items: center;
}

.hero-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue url("images/main_background.jpg") no-repeat fixed;
    background-size: cover;
}


.hero-bottom .container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width: 600px;
    height: auto;
    border-radius: 25px;
    padding: 10px;
    margin: 120px 0px;
}


.hero-bottom .button {
    background-color: #004A7F;
    border-radius: 10px;
    border: none;
    color: yellow;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1500ms infinite;
}

@keyframes glowing {
    0% { background-color: #229605; box-shadow: 0 0 3px #229605; }
    50% { background-color: #00ff4c; box-shadow: 0 0 40px #00ff4c; }
    100% { background-color: #229605; box-shadow: 0 0 3px #229605; }
}

.main-image {
    width: 250px;
    height: auto;
}

.main-text {
    font-size: 48px;
    margin-bottom: 24px;
    color: white;
}

.secondary-text {
    font-size: 18px;
    margin-bottom: 24px;
    color: white;
}

.info {
    color: white;
    text-shadow: 0px 0px 10px white;
}

.info img {
    border-radius: 25px;
}

.info img:hover {
    outline: yellow solid 4px;
}
.second-segment {
    text-align: center;
    background-color: black;
}

.second-segment .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

.info img {
    max-height: 500px;
    width: auto;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: rgb(226, 226, 44);
    padding: 24px 0px;
}

.third-segment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/quote_image.png");
    height:600px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote {
    font-size: 48px;
    text-align: center;
    color: gold;
    text-shadow: 0px 0px 10px gold, 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.quotee {
    padding: 10px;
    text-align: center;
    color: rgb(200, 228, 98);
    text-shadow: 0px 0px 10px rgb(0, 204, 255), 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-size: 24px;
}

.fourth-segment {
    background: blue url("images/main_background.jpg") no-repeat fixed;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-segment .container {
    display: flex;
    gap: 48px;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 15px;
}

.fourth-segment
.container
.left
.main-text {
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 0px 0px 10px white;
}

.fourth-segment
.container
.left
.secondary-text {
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    font-size: 18px;
    background-color: red;
    border-radius: 10px;
    border: white;
    border-width: 5px;
    padding: 5px;
}

.button-container button:hover {
    box-shadow: 0px 0px 20px rgb(0, 204, 255);
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.footer .copyright {
    margin: 10px;
    padding: 10px;
}

.footer .copyright a {
    text-decoration: underline;
}