body {
    margin: 0;
}

.logo img {
    max-width: 100px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.logo-text {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.hero-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-bottom .container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width: 600px;
    height: auto;
    border-radius: 25px;
    padding: 10px;
    margin: 120px 0px;
}

.hero-bottom .button {
    background-color: #004A7F;
    border-radius: 10px;
    border: none;
    color: yellow;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1500ms infinite;
}

@keyframes glowing {
    0% { background-color: #229605; box-shadow: 0 0 3px #229605; }
    50% { background-color: #00ff4c; box-shadow: 0 0 40px #00ff4c; }
    100% { background-color: #229605; box-shadow: 0 0 3px #229605; }
}

.main-image {
    width: 250px;
    height: auto;
}

.main-text {
    font-size: 48px;
}

.secondary-text {
    font-size: 18px;
}

.second-segment {
    text-align: center;
}

.second-segment .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
}

.info img {
    max-height: 500px;
    width: auto;
}

.title {
    font-size: 36px;
    font-weight: bolder;
}

.third-segment {
    display: flex;
    justify-content: center;
    align-content: center;
}

.quotee {
    text-align: right;
}